@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading_container h1 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container .dark_title {
  color: #164863 !important;
}

.heading_container .light_title {
  color: #ffffff !important;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  word-spacing: 1px;
}

.heading_container.heading_center {
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  height: 100%;
  width: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 10px 0;
  background: linear-gradient(130deg, #9BBEC8, #164863);
  position: sticky !important;
  top: 0;
  z-index: 20;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 70px;
  width: 100px;
}

.navbar-brand span {
  font-weight: 800;
  font-size: 42px;
  color: #164863;
  vertical-align: middle;
  margin-left: -15px;
}

.custom_nav-container {
  padding: 0px;
}

.custom_nav-container .navbar-nav {
  margin: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #164863;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .navbar-nav .form-inline {
  justify-content: center;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded=true] {
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded=true] span {
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded=true] span::before,
.custom_nav-container .navbar-toggler[aria-expanded=true] span::after {
  transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3803921569);
  padding: 0px 0 30px 0;
}

.slider_section .row {
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 18px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.slider_section .detail-box .btn-box {
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #81b6c5;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #3e889d;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: #3e889d;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgb(255, 255, 255);
  animation: upDown 5s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(-45px);
  }

  50% {
    transform: translateY(45px);
  }

  100% {
    transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #9BBEC8;
}

.service_section {
  position: relative;
  background-color: #c0d3d9;
}

.service_section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #65aec2;
  color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px -8px #164863;
  height: 400px;
  position: relative;
}

.service_section .box .img-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 125px;
  min-width: 75px;
  margin: 15px 0px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 30px;
}

.service_section .box .detail-box p {
  text-align: justify;
}

.service_section .box .detail-box a {
  color: #ffffff;
  font-weight: 600;
  background-color: #2087a3;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 89%;
  line-height: 40px;
  border-radius: 10px;
}

.service_section .box .detail-box a:hover {
  background-color: #164863;
}

.service_section .box:hover {
  transition-duration: 1s;
  transform: scale(1.05);
  box-shadow: 10px 10px 15px -8px #164863;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  z-index: 1;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #2087a3;
  color: #ffffff;
  border-radius: 10px;
  transition: all 0.3s;
  border: none;
}

.btn-box a:hover {
  background-color: #164863;
}

.about_section {
  background-color: #164863;
  color: #ffffff;
}

.about_section .heading_container {
  margin-bottom: 45px;
}

.about_section .row {
  align-items: center;
}

.about_section .video-box img {
  max-width: 100%;
}

.about_section .video-box iframe {
  max-width: 100%;
  border-radius: 15px;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.about_section .detail-box ul li {
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #81b6c5;
  color: #ffffff;
  border-radius: 10px;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #65aec2;
}

.why_section .box {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #00204a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why_section .box .img-box img {
  width: 55px;
  height: auto;
  fill: #00204a;
}

.why_section .box h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.why_section .box p {
  margin-bottom: 0;
}

.why_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.why_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
}

.why_section .btn-box a:hover {
  background-color: #3e889d;
}

.am_why_section {
  background-color: #c0d3d9;
}

.am_why_section .container .row.why_choose_us_title {
  justify-content: center;
  text-align: center;
}

.am_why_section .container .row.why_choose_us_title .col-md-6 h1 {
  font-weight: bold;
  margin: 0px;
  text-align: center;
  color: #164863;
}

.am_why_section .container .row.why_choose_us_content {
  background: linear-gradient(130deg, #9BBEC8, #164863);
  border-radius: 15px;
}

.am_why_section .container .row.why_choose_us_content .col-md-3 img {
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: center center;
  object-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.am_why_section .container .row.why_choose_us_content .col-md-9 {
  color: #ffffff;
}

.am_why_section .container .row.why_choose_us_content .col-md-9 h2 {
  font-weight: 600;
}

.am_why_section .container .row.why_choose_us_content .col-md-9 p {
  word-spacing: 1px;
  letter-spacing: 0.5px;
  font-size: 18px;
}

/*team section */
.team_section {
  text-align: center;
  background-color: #164863;
}

.team_section .heading_container {
  justify-content: center;
}

.team_section .team_container {
  padding: 0 15px;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.1s;
  margin-top: 45px;
  background: linear-gradient(180deg, #81b6c5, #65aec2);
  box-shadow: 0px 0px 10px 2px #65aec2;
}

.team_section .team_container .box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 100%;
  border: 5px solid #164863;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: #ffffff;
  font-weight: 600;
  position: relative;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.team_section .team_container .box .detail-box p {
  color: #ffffff;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: flex;
  justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #164863;
}

.team_section .team_container .box:hover {
  transition-duration: 1s;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 3px #65aec2;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  z-index: 1;
}

/*team section end*/
/* client section start */
.client_section {
  background-color: #c0d3d9;
}

.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
  border: 4px solid #164863;
  border-radius: 100%;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: flex;
  justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background: linear-gradient(180deg, #9BBEC8, #164863);
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box .client_id .client_info {
  word-spacing: 2px;
  letter-spacing: 1px;
}

.client_section .box .detail-box i {
  color: #ffffff;
  margin-bottom: 10px;
}

.client_section .box .detail-box p {
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.client_section .owl-carousel .owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #2087a3;
  color: #c0d3d9;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  margin: 0px 10px;
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #164863;
}

/* client section end */
.info_section {
  background-color: #164863;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact {
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.info_section .info_contact .contact_link_box {
  display: flex;
  flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #65aec2;
}

.info_section .info_social {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #65aec2;
}

.info_section .info_detail {
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.info_section .info_link_box {
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.info_section .info_link_box .info_links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info_section .info_link_box .info_links a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_link_box .info_links a:hover {
  color: #65aec2;
}

.info_section .subscribe {
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.info_section .subscribe form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section .subscribe form input::-moz-placeholder {
  color: #ffffff;
}

.info_section .subscribe form input::placeholder {
  color: #ffffff;
}

.info_section .subscribe form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #81b6c5;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
  border-radius: 10px;
}

.info_section .subscribe form button:hover {
  background-color: #3e889d;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #c0d3d9;
  text-align: center;
}

.footer_section p {
  color: #164863;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */